body {
  margin: 0;
  background-color: #6FC4BD;
}

/*** MENU ***/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/*** END MENU ***/

.pi-App {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.pi--logo {
  height: 60px;
  margin-top: 1rem
}

.pi--header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pi--user-picture{
  height: 225px;
  width: 225px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
}

.pi--user-picture img{
  width: 100%
}

.pi--main{
  display: flex;
  flex-direction: column;
  /* margin-top: 100px; */
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pi--progressbar, .CircularProgressbar{
  width: 325px!important;
  height: 325px!important
}

.pi--person{
  position: absolute;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.persona-container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.persona-line{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.persona-avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.persona-avatar-image{
  height: 30vw;
  width: 30vw;
  overflow: hidden;
}

.persona-avatar-image img{
  width: 100%
}

.heading{
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: white
}

.web-app {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.toggle-container {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-name {
  padding: 20px;
}

.login-form {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #6FC4BD;
  border-bottom: 1px solid white;

}

input[type=submit] {
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  font-size: 12px;
  clear: none;
}


.tagline {
  position: absolute;
  top: 33%;
  left: 42%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 22px;
  color: white;
  text-align:
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-image {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 15%;
}

.logo-image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
}

.footer{
  position: fixed;
  bottom: 10px;
  left: 20px
}

.gradient-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  z-index: -1
}

.gradient-background.from{
  background: linear-gradient(45deg, #9E8AA9, #5E3D70)
}
.gradient-background.to{
  background: linear-gradient(45deg, #6C864D, #596C44);
  z-index: -2
}

.sidebar-flex{
  display: flex;
  flex-direction: column;
  position: fixed;
  right:0px;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.2s ease;
  z-index: 10
}

.sidebar-flex.swipe{
  right: 340px
}

.sidebar-button{
  width: 80px;
  height: 80px;
  background: rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: rgba(0,0,0,0.8);
  transition: background 0.2s ease;
}

.sidebar-button:hover{
  background: rgba(0,0,0,0.1);}

.sidebar--info-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: flex-end;
  transition: transform 0.2s;
  z-index: -1;
  opacity: 0
}

.sidebar--info-container.swipe{
  opacity: 1;
  z-index: 0
}

.sidebar--info-inside{
  background: rgba(0,0,0,0.7);
  width: 300px;
  padding: 20px;
  color: white;
  transform: translateX(100%);

}

.sidebar--info-container.swipe .sidebar--info-inside{
  transform: translateX(0%);
}

.triangle-buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-switch-bg{
  border-radius: 30px!important;
  border: 4px solid white!important;
  background: rgba(255,255,255,0.4)!important
}

.react-switch-handle{
  top: 5px!important;
  left: 4px!important;
  background: #EA2356!important
}

.toggle-name{
  font-weight: bold!important;
  font-size: small!important
}

.toggle-container label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%
}

.toggle-container label .toggle-name{
  text-align: left;
}
